.project
bin/*
dist/Compiler.jar
dist/JFlex.jar
dist/java-cup-11b-runtime.jar
lib/.DS_Store

src/.DS_Store
src/CodeGenerated/.DS_Store
src/CodeGenerated/Scanner.java
src/CodeGenerated/Scanner.java~
src/CodeGenerated/Parser.java
src/CodeGenerated/sym.java

tools/.DS_Store
.DS_Store
bin/.DS_Store

src/CodeGenerated/*

